<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />

    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Core Meta Data -->
    <meta name="author" content="{{config.author}}">
    <meta name="description" content="{{config.description}}">
    <meta name="keywords" content="Robson Júnior, carreira, palestras, javascript, JS, ECMAScript, ES6, Harmonic, front-end">

    <!-- O.G -->
    <meta property="og:description" content="{{config.description}}">
    <meta property="og:image" content="{{config.domain}}/images/share/profile-robsongajunior.jpg">
    <meta property="og:site_name" content="robsonjunior">
    <meta property="og:title" content="Robson Júnior">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{config.domain}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{config.domain}}">
    <meta name="twitter:creator" content="@robsongajunior">
    <meta name="twitter:title" content="{{config.title}}">
    <meta name="twitter:description" content="{{config.description}}">
    <meta name="twitter:image" content="{{config.domain}}/images/profile-robsongajunior.jpg">

    <!-- CANONICAL -->
    <link rel="canonical" href="{{config.domain}}" />

    <!-- STYLE -->
    <link rel="stylesheet" href="/css/vendor/prism.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    {% include "partials/header.html" %}

    <figure id="mainBanner" class="main-banner internal-banner" data-banner-src="/images/main-banner.jpg" data-banner-alt="Robson Junior Cover | Javascript"> </figure>

    <main id="main">
        {% include "partials/profileBar.html" %}

        <section id="posts" class="posts wrap-content">
            {% for post in posts %}
                <article class="post">
                    <ul class="post-info" date="{{ post.date }}"></ul>
                    <div class="post-content">
                        <a class="post-title" href="/{{post.link}}">{{post.title}}</a>
                        <div class="post-excerpt">{{post.content}}</div>
                    </div>
                </article>
            {% endfor %}
        </section>

        <div class="clearfix"></div>
    </main>

    {% include "partials/footer.html" %}
</body>
</html>
